flows.brendhamattos.ondaia.online/workflows/Banco Vetorial.json
{
  "createdAt": "2025-05-26T10:53:19.511Z",
  "updatedAt": "2025-05-29T10:44:58.431Z",
  "id": "YWltaS4LeUkmVbQg",
  "name": "Banco Vetorial",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "assistant_brendhamattos",
          "mode": "list",
          "cachedResultName": "assistant_brendhamattos"
        },
        "embeddingBatchSize": 1,
        "options": {
          "queryName": "match_assistant_brendhamattos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -1360,
        660
      ],
      "id": "ab640749-5d4a-4797-8420-e30901aa2fbc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "8ypiQ79vqSpOnFUy",
          "name": "Supabase "
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1180,
        840
      ],
      "id": "63c553dd-02e7-4a32-b926-548e38a50faf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 10
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -1240,
        980
      ],
      "id": "6ac55e84-0200-4aca-89cd-ad6306b2dfbe",
      "name": "Token Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2180,
        660
      ],
      "id": "547c7036-1fe1-434e-b0c1-26d1702a67a5",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1420,
        900
      ],
      "id": "6c669f48-cca1-4376-adb0-5c43e4144ac1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AhNlapeTC4e4mLvK",
          "name": "brendha_mattos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        620
      ],
      "id": "67d99019-494d-42c0-b51a-4936641cea88",
      "name": "When chat message received",
      "webhookId": "e2491cb7-7f1a-4642-97f9-7200e4226201"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "busque no banco de dados na api do ghl todas as dúvidas em relação a api, requisições e webhooks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -220,
        620
      ],
      "id": "52f4bb1f-b36a-4e0b-8419-e9542cefc05f",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        280,
        880
      ],
      "id": "9b1044ed-057d-41fd-a583-4902aad3271d",
      "name": "Think"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -180,
        860
      ],
      "id": "5e165687-1e0a-4756-bcd8-aebcd09d2506",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        1120
      ],
      "id": "3548445d-3436-4a99-af69-bedcebcd78f6",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "AhNlapeTC4e4mLvK",
          "name": "brendha_mattos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5f553fd-2ec1-4493-877d-ebb7a349eedd",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        620
      ],
      "id": "5c70b07f-0b06-4cbc-8c4c-aa712b90a93e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/pintostudio~youtube-transcript-scraper/runs/last/dataset/items?token=apify_api_LDQejHND6GQhEunAPADzleFbRVQUFe21z2S6",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2440,
        500
      ],
      "id": "8030f1d2-3bae-498a-a9ef-f4d472e5f347",
      "name": "Scraper_youtube"
    },
    {
      "parameters": {
        "content": "## Entrada de conhecimento",
        "height": 700,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2260,
        520
      ],
      "typeVersion": 1,
      "id": "119c30c9-b6d4-4b21-89de-2f3468a60fb5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Banco de dados",
        "height": 700,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        520
      ],
      "typeVersion": 1,
      "id": "9a522599-e683-4984-aef5-cba8fa5de5ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        900
      ],
      "id": "6065738f-5803-47ab-a7b8-26f4639c3563",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AhNlapeTC4e4mLvK",
          "name": "brendha_mattos"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fE5VDdtQj0GjkhTvwOHhybDmuia28QxS",
          "mode": "list",
          "cachedResultName": "caminho-do-tarot-alejandro-jodorowsky-marianne-costapdf_compress.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1fE5VDdtQj0GjkhTvwOHhybDmuia28QxS/view?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1980,
        660
      ],
      "id": "789db11a-154a-47bd-a220-32d495664efb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "w7Mesxp3SvtAG8a8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1620,
        480
      ],
      "id": "f6c86dc2-4c25-4f4e-bae3-ddadc747a4f5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1800,
        660
      ],
      "id": "85866ac2-2f98-41a1-9cf9-dd3c46e5f51c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f40eec8-7241-45f4-bd8d-c46849b70653",
              "name": "data",
              "value": "={\n\"start\": \"{{ $json.start }}\",\n\"dur\": \"{{ $json.dur }}\",\n\"text\": \"{{ $json.text }}\"\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2040,
        940
      ],
      "id": "8a5f6100-3f6f-468e-bcef-801c786a81ee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega a string crua\nconst raw = items[0].json.data;\n\n// 2. Converte a string JSON para objeto JavaScript\nconst jsonParsed = JSON.parse(raw); // agora jsonParsed é um array com um objeto que tem .data\n\n// 3. Pega a lista real de blocos de transcrição\nconst parsed = jsonParsed[0].data;\n\n// 4. Retorna cada um como item separado\nreturn parsed.map(obj => ({\n  json: {\n    start: obj.start,\n    dur: obj.dur,\n    text: obj.text\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2220,
        940
      ],
      "id": "8e2e63cc-d0bb-4075-8340-597a29e18bf4",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "macht_assistant_brendhamattos",
        "toolDescription": "Busque no Banco de dados",
        "tableName": {
          "__rl": true,
          "value": "assistant_brendhamattos",
          "mode": "list",
          "cachedResultName": "assistant_brendhamattos"
        },
        "options": {
          "queryName": "match_assistant_brendhamattos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -20,
        900
      ],
      "id": "47d8033b-981b-4605-a395-77af974d0556",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "8ypiQ79vqSpOnFUy",
          "name": "Supabase "
        }
      }
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Scraper_youtube": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "484cb6e9-16a1-45be-8c27-56222a299e01",
  "triggerCount": 0,
  "tags": []
}